{% extends "layout.html" %}

{% block title %}Carrito de Compras{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/carrito.css') }}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='js/carrito.js') }}" defer></script>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Carrito de Compras</h2>
    {% if carrito %}
    <table class="table">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Subtotal</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for item in carrito %}
            <tr>
                <td>{{ item.producto.NOMBRE }}</td>
                <td>{{ (item.producto.PRECIO | default(0)) | currency }}</td>
                <td>
                    <input type="number" value="{{ item.CANTIDAD | default(1) }}" min="1"
                        class="form-control quantity-input" data-producto-id="{{ item.producto.ID_ARTICULO }}">
                </td>
                <td data-precio="{{ item.producto.PRECIO }}" data-subtotal="{{ (item.producto.PRECIO * item.CANTIDAD) }}">{{ ((item.producto.PRECIO | default(0)) * (item.CANTIDAD | default(1))) | currency }}</td>
                <td>
                    <button class="btn btn-danger btn-eliminar" data-producto-id="{{ item.producto.ID_ARTICULO }}"
                        data-action="{{ url_for('eliminar_producto', producto_id=item.producto.ID_ARTICULO) }}">Eliminar</button>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
    <div class="text-right">
        <h3>Total: <span id="total">{{ (total | default(0)) | currency }}</span></h3>
        <a href="{{ url_for('productos') }}" class="btn btn-primary">Seguir Comprando</a>
        <a href="{{ url_for('compra') }}" class="btn btn-primary">Proceder al Pago</a>
    </div>
    {% else %}
    <p>Tu carrito de compras está vacío.</p>
    <a href="{{ url_for('productos') }}" class="btn btn-primary">Volver a la Tienda</a>
    {% endif %}
</div>
{% endblock %}