{% extends "layout.html" %}

{% block title %}
Detalle de {{ producto.NOMBRE }}
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/detalle_producto.css') }}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yEx1q6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/detalle_producto.js') }}" defer></script>
{% endblock %}

{% block content %}
<div class="container details-container">
    <div class="product-view">
        <div class="related-products">
            {% for relacionado in productos_relacionados %}
            <a href="{{ url_for('detalle_producto', producto_id=relacionado.ID_ARTICULO) }}">
                <img src="{{ url_for('static', filename='images/' + relacionado.IMAGEN) }}" alt="{{ relacionado.NOMBRE }}">
            </a>
            {% endfor %}
        </div>
        <div class="main-product">
            <img src="{{ url_for('static', filename='images/' + producto.IMAGEN) }}" alt="{{ producto.NOMBRE }}">
        </div>
    </div>
    <div class="product-details">
        <h2>{{ producto.NOMBRE }}</h2>
        <h4>Gs.{{ producto.PRECIO }}</h4>
        <hr>
        <p>Marca: {{ producto.DESCRIPCION_MARCA }}</p>
        <p>Color: {{ producto.DESCRIPCION_COR }}</p>
        <label for="tallas">Talla:</label>
        <select id="talla-selector" name="talla" data-cantidades="{{ producto.CANTIDADES | tojson }}">
            {% for talla in producto.TALLAS %}
            <option value="{{ talla }}">{{ talla }}</option>
            {% endfor %}
        </select>        
        <label for="cantidad">Cantidad:</label>
        <input id="cantidad" type="number" name="cantidad" min="1" value="1">
        <p>Cantidad disponible: <span id="cantidadDisplay">{{ producto.CANTIDADES[0] }}</span></p>
        <input type="hidden" id="producto-id" value="{{ producto.ID_ARTICULO }}">
        <button id="add-to-cart-button" class="btn btn-primary btn-anadir btn-success btn-block mt-2">Añadir al Carrito</button>
    </div>
</div>

<div id="cart-notification" class="cart-notification" style="display: none;">
    <img src="{{ url_for('static', filename='images/' + producto.IMAGEN) }}" alt="{{ producto.NOMBRE }}" class="cart-image"/>
    <div class="cart-notification-content">
        <p class="cart-product-name">{{ producto.NOMBRE }}</p>
        <p class="cart-product-price">Gs.{{ producto.PRECIO | currency }}</p>
        <a href="{{ url_for('carrito') }}" class="btn btn-primary">VER CARRITO</a>
    </div>
</div>
{% endblock %}