{% extends "layout.html" %}

{% block title %}
INICIO
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/inicio.css') }}">
<script src="{{ url_for('static', filename='js/inicio.js') }}" defer></script>

{% endblock %}

{% block content %}
<div class="slider">
    <div><img src="{{ url_for('static', filename='images/1184-1101-26631-430.jpg') }}" alt="{{ tipo }}"></div>
    <div><img src="{{ url_for('static', filename='images/1184-1101-26631-430.jpg') }}" alt="{{ tipo }}"></div>
    <div><img src="{{ url_for('static', filename='images/1184-1101-26631-430.jpg') }}" alt="{{ tipo }}"></div>
    <div><img src="{{ url_for('static', filename='images/1184-1101-26631-430.jpg') }}" alt="{{ tipo }}"></div>
    <div><img src="{{ url_for('static', filename='images/1184-1101-26631-430.jpg') }}" alt="{{ tipo }}"></div>
    <div><img src="{{ url_for('static', filename='images/1184-1101-26631-430.jpg') }}" alt="{{ tipo }}"></div>
    <div><img src="{{ url_for('static', filename='images/1184-1101-26631-430.jpg') }}" alt="{{ tipo }}"></div>
    <div><img src="{{ url_for('static', filename='images/1184-1101-26631-430.jpg') }}" alt="{{ tipo }}"></div>
    <div><img src="{{ url_for('static', filename='images/1184-1101-26631-430.jpg') }}" alt="{{ tipo }}"></div>
</div>


<div class="container mt-4">
    <h2>Explora Nuestros Tipos de Calzado</h2>
    <div class="row">
        {% for tipo, imagen in tipos_calzado.items() %}
        <div class="col-md-4">
            <div class="tipo-calzado-card">
                <!-- Usando la imagen del diccionario -->
                <img src="{{ url_for('static', filename=imagen) }}" alt="{{ tipo }}">
                <h3>{{ tipo }}</h3>
                <!-- Enlace a la página de productos filtrados por tipo -->
                <a href="{{ url_for('productos_por_tipo', tipo_calzado=tipo) }}" class="btn btn-primary">Ver Productos</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}