{% extends "layout.html" %}

{% block title %}
    Marcas
{% endblock %}

{% block content %}
    <div class="container mt-4 h-100 d-flex flex-column justify-content-center">
        <h2 class="text-center mb-4" style="color: #FF851B;">Marcas</h2>
        
        <div class="row g-4">
            {% for marca in marcas %}
                <div class="col-md-4 py-2">
                    <a href="/productos/{{ marca.nombre }}" class="d-block mx-auto" style="max-width: 300px;">
                        <img src="{{ marca.imagen }}" alt="{{ marca.nombre }}" class="img-fluid brand-image">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}