body, html {
    height: 100%; /* Se asegura de que el cuerpo y el html ocupen toda la altura de la pantalla */
}

.container.details-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 10%; /* Añadir padding para mover el contenido hacia abajo */
    height: 80%; /* Ajusta la altura del contenedor al 80% de la página */
    align-items: center; /* Centrar los items verticalmente */
}

.product-view {
    display: flex;
    width: 60%; 
}

.main-product img {
    max-width: 80%;
    display: block;
    margin: 0 auto;
}

.related-products {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 20%; 
    max-height: 480px;
    overflow-y: auto;
}

.related-products a {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.related-products img {
    max-width: 100%;  
    display: block; 
}

.product-details {
    width: 40%; 
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-details .btn-block {
    width: 100%;
}

/* Estilo para el label de tallas */
.product-details label {
    font-size: 24px; /* Ajusta el tamaño de la fuente del label de tallas */
    display: block; 
    margin-bottom: 10px; /* Añade margen para separarlo de los elementos debajo */
}

/* Si el select de las tallas también necesita ser más grande */
.product-details select {
    font-size: 24px; /* Ajusta el tamaño de la fuente del select de tallas */
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
    padding: 10px; /* Añade padding para hacerlo más alto */
}

/* Agrega esto a tu archivo CSS */
.cart-notification {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border-radius: 4px;
    overflow: hidden;
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}

.cart-notification-content {
    padding: 15px;
}

.cart-image {
    width: 100px; /* Ajusta según sea necesario */
    height: auto;
    display: block;
}

.cart-product-name {
    margin: 0;
    font-weight: bold;
}

.cart-product-price {
    margin: 0;
}