/* Estilos para la página de inicio */
.container {
    text-align: center;
}

.tipo-calzado-card {
    margin: 20px auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 80%;
    border-radius: 5px;
}

.tipo-calzado-card img {
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: auto;
}

.tipo-calzado-card h3 {
    padding: 2px 16px;
}

.tipo-calzado-card a {
    margin-bottom: 15px;
}

.tipo-calzado-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

@media (max-width: 768px) {
    .tipo-calzado-card {
        width: 90%;
    }
}

.slider div {
    margin: 0 10px;
}

.slider img {
    width: 100%;
    border-radius: 10px; /* Opcional, para bordes redondeados */
}